<div class="row-is-full content has-text-centered text-decoration-none">
    <p class="text-decoration-none">
      <strong><i class="fa-solid fa-cars"></i>  Car Inventory</strong> 
      
    </p>
  </div>