<div class="row m-3">
                    <div class="col-sm">
                        <img id="car-pic" class="rounded" src="/images/{{name}}.png" alt="Featured 2">
                    </div>
                    

